h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30pt;
    margin-bottom: 40px;
}
.articles {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}