@import "/src/variables.scss";

:host {
    overflow: hidden;
}
img {
    object-fit: cover;
    max-height: 340px;
    width: 100%;
    border-bottom: 3pt solid $accent-color;
}

h1 {
    font-size: 13pt;
}

a {
    color: $accent-color;
    text-transform: uppercase;
}