<div class="headline-grid">
    <img (click)="showModal('/assets/component-01/Image-01@2x.jpg')" 
        class="image-primary" src="/assets/component-01/Image-01.jpg">
    <div class="images">
        <img (click)="showModal('/assets/component-01/Image-02@2x.jpg')" src="/assets/component-01/Image-02.jpg">
        <img (click)="showModal('/assets/component-01/Image-03@2x.jpg')" src="/assets/component-01/Image-03.jpg">
    </div>
    <section>
        <h1>Answer your body's needs</h1>
        <p>
            The way ingredients are sourced affects the way we nourish ourd bodies, Author Mark Schatzer believes our body naturally develops an appetite for the foods and nutrients it needs to be healthy, but that artificial flavourings are getting in the way. This can be reversed by focusing on high qualitiy ingrediends and being mindful as your appetite guides you to consume according to your body's needs.
        </p>
        <h3>Be mindful</h3>
        <strong>
            Sourcing local or organice food is agood way to start being more mindful about what you're cooking and eating.
        </strong>
    </section>
</div>

<div class="modal" *ngIf="modal" (click)="modal = null">
    <button (click)="modal = null">&times;</button>
    <img [src]="modal" class="no-effect">
</div>