/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

@font-face {
    font-family: OpenSans;
    src: url(/assets/OpenSans/OpenSans-Regular.ttf)  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSansLight;
    src: url(/assets/OpenSans/OpenSans-Light.ttf)  format('truetype');
    font-weight: lighter;
    font-style: normal;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: OpenSans, sans-serif;
}

h1,h2 {
    color: $heading-color;
    font-family: OpenSansLight;
    font-weight: normal;
}

h3 {
    text-transform: uppercase;
    color: $accent-color;
}

main {
    padding: 24px;
    padding-top: 150px;
    max-width: 1200px;
    margin: auto; 
    display: flex;
    gap: 120px;
    flex-direction: column;
}

img {
    transition: 100ms;

    &:not(.no-effect):hover {
        transform: scale(1.03);
    }
}

